---
layout: default
css: [blog.css]
js: [blog.js]
---
<div class="main animation-fadeUp">
	{% for post in site.posts  %}
		{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
		{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

		{% if forloop.first %}
		<div class="list-group"><span>{{ this_year }}</span><ul>
		{% endif %}

		{% if this_year == next_year %}
			<li class="info">
				<span class="time md">{{ post.date | date: "%Y/%m/%d" }}</span>
				<a href="{{site.context}}{{ post.url }}" class="title">{{ post.title }}</a>
				<span class="categories md">&nbsp;
					{% for cat in post.categories %}
						<a href="{{site.context}}/pages/categories.html#{{ cat }}">{{ cat }}</a>
					{% endfor %}
				</span>
			</li>
		{% else %}
			{% if forloop.last %}
			<li class="info">
				<span class="time md">{{ post.date | date: "%Y/%m/%d" }}</span>
				<a href="{{site.context}}{{ post.url }}" class="title">{{ post.title }}</a>
				<span class="categories md">&nbsp;
					{% for cat in post.categories %}
						<a href="{{site.context}}/pages/categories.html#{{ cat }}">{{ cat }}</a>
					{% endfor %}
				</span>
			</li></ul></div>
			{% else %}
			<li class="info">
				<span class="time md">{{ post.date | date: "%Y/%m/%d" }}</span>
				<a href="{{site.context}}{{ post.url }}" class="title">{{ post.title }}</a>
				<span class="categories md">&nbsp;
					{% for cat in post.categories %}
						<a href="{{site.context}}/pages/categories.html#{{ cat }}">{{ cat }}</a>
					{% endfor %}
				</span>
			</li></ul></div><div class="list-group"><span>{{next_year}}</span><ul></ul>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>