    <footer class="footer">
        <span>Copyright © ${global.config.copyright} ${global.config.record}</span>
        <a href="${global.config.context}/sitemap.xml">网站地图</a>
        <span>Powered by</span>
        <a href="https://github.com/TMaize/tmaize-blog">tmaize-blog</a>
        <div class="up"></div>
    </footer>
    <script>
        //mta.qq.com 访问统计
        var _mtac = {};
        (function() {
            var mta = document.createElement("script");
            mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500581966");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
        //360的自动推送
        (function(){
            var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0b7f3f19682121293c3e4b62c9740281":"https://jspassport.ssl.qhimg.com/11.0.1.js?0b7f3f19682121293c3e4b62c9740281";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
        //百度的自动推送
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</body>
</html>
