<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="zh-CN" />
		<meta name="google-site-verification" content="ckhUaoa05QCmWoE1FafzTBcqYI4yBOy-UJKopXDS18M" />
		<meta name="msvalidate.01" content="833A897D8FA12360B4CB76C5C3DA6638" />
		<meta name="360-site-verification" content="2e30b4ad3bda2b54fe57f9c99a4205a2" />
		<meta name="baidu-site-verification" content="CvuahQIPWP" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="author" content="${global.config.author}" />
		<link rel="icon" href="${global.config.context}/static/img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="${global.config.context}/static/img/favicon.ico" type="image/x-icon"/>
		<#if css_list??>
			<#list css_list as css>
				<link rel="stylesheet" href="${global.config.context}/static/css/${css}">
			</#list>
		</#if>
		<script>window.blog={contextPath:"${global.config.context}"}</script>
		<#if js_list??>
			<#list js_list as js>
				<script type="text/javascript" src="${global.config.context}/static/js/${js}"></script>
			</#list>
		</#if>
		<#if page_keywords??>
			<meta name="keywords" content="${global.config.author},${page_keywords?join(",")}"/>
		<#else>
			<meta name="keywords" content="${global.config.keywords}"/>
		</#if>
		<#if page_title??>
			<meta name="description" content="${page_title}"/>
			<title>${page_title}-${global.config.siteName}</title>
		<#else>
			<meta name="description" content="${global.config.siteName}"/>
			<title>${global.config.siteName}</title>
		</#if>
	</head>
<body>
	<header class="header select-none">
		<a class="logo" title="${global.config.siteName}" href="${global.config.context}/"><img src="${global.config.context}/static/img/logo.jpg"></a>
		<a class="title" href="${global.config.context}/">${global.config.siteName}</a>
		<nav class="menu">
			<a href="${global.config.context}/">Blog</a>
			<a href="${global.config.context}/pages/categories.html">Categories</a>
			<a href="${global.config.context}/pages/search.html">Search</a>
			<a href="${global.config.context}/pages/links.html">Links</a>
			<a href="${global.config.context}/pages/chat.html">Chat</a>
			<a href="${global.config.context}/pages/about.html">About</a>
		</nav>
		<span class="icon"></span>
	</header>