.post {
  font-size: 14px;
  color: #313131;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'PingFang SC', 'WenQuanYi Micro Hei', sans-serif;
  line-height: 1.8;
}
.post * {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.post p {
  margin: 14px 0;
  word-break: break-all;
}
.post h1,
.post h2 {
  font-weight: normal;
  font-size: 17px;
  position: relative;
  margin: 14px 0;
}
.post h1::before,
.post h2::before {
  content: '#';
  position: absolute;
  top: 0;
  left: -15px;
  font-weight: bold;
}
.post h3,
.post h4,
.post h5,
.post h6 {
  font-size: 15px;
  font-weight: bold;
  margin: 14px 0;
}
.post a {
  margin: 0 2px;
  text-decoration: underline;
}
.post blockquote {
  border-left: 2px solid #444444;
  padding-left: 10px;
  line-height: 1.5;
}
.post em,
.post i {
  font-style: italic;
}
.post strong,
.post b {
  font-weight: bold;
}
.post del {
  text-decoration: line-through;
}
.post ol,
.post ul {
  margin: 14px 0 14px 14px;
}
.post ol ol,
.post ol ul,
.post ul ul,
.post ul ol {
  margin-top: 0;
  margin-bottom: 0;
}
.post ol > li {
  list-style: decimal;
}
.post ul > li {
  list-style: disc;
}
.post hr {
  margin: 14px 0;
  border: 1px solid #f5f5f5;
  padding: 0;
}
.post img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 5px #e0e0e0;
  margin-top: 14x;
  margin-bottom: 14px;
}
.post code {
  background-color: #f6f8fa;
  font-family: Consolas, Menlo, Mono, Monaco, 'Microsoft YaHei' !important;
  word-break: break-all;
  line-height: 1;
  /*行内代码*/
  font-size: 13px;
  padding: 0 4px;
  margin: 0 2px;
  border-radius: 2px;
}
.post pre {
  font-size: 0;
  padding: 7px 10px;
  overflow: auto;
  margin: 14px 0;
  border-radius: 2px;
  background-color: #f6f8fa;
  max-height: 550px;
}
.post pre code {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}
.post pre code span{
  font-size: inherit;
}
.post table {
  min-width: 100%;
  margin: 14px 0;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
}
.post tr {
  border-bottom: 1px solid #dddddd;
}
.post th {
  font-weight: bold;
}
.post th,
.post td {
  padding: 5px 10px;
  text-align: left;
}
.post table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.post table tbody tr:hover {
  background-color: #f9f9f9;
}
.post .table-container {
  overflow: auto;
  margin: 14px 0;
  border: 1px solid #dddddd;
}
.post .table-container table {
  margin: 0;
  border: 0;
}
.post .table-container table tbody tr:last-child {
  border-bottom: 0;
}
@media screen and (max-width: 560px) {
  .post * {
    font-size: 12px;
  }
  .post h1,
  .post h2 {
    font-weight: bold;
    font-size: 17px;
  }
  .post h1::before,
  .post h2::before {
    content: '#';
    position: unset;
    padding-right: 5px;
    font-weight: bold;
  }
  .post h3,
  .post h4,
  .post h5,
  .post h6 {
    font-size: 13px;
    font-weight: bold;
  }
  .post code,
  .post pre code,
  .post pre code span {
    font-size: 11px;
  }
}
