#listcategories {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(207, 207, 207, 0.41);
}
#listcategories>blockquote{
    margin: 20px 0;
    border-left: 3px solid #000;
    text-indent: 20px;
    font-size: 14px;
    font-weight: bold;
}

#listcategories ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#listcategories ul li{
    display: inline-block;
}
#listcategories ul li a{
    display:  inline-block;
    color: #111;
    padding: 5px 5px;
}