* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 400 16px/1.7 "Microsoft JhengHei", sans-serif;
    background-color: #fff;
    min-height: 100%;
    color: #444;
}

/*滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::selection{
    background-color:#222;
    color:#f9f9f9;
}

body {
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    overflow-x: hidden;
	/*overflow-wrap: break-word;*/
}

/*定义动画*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, -350%, 0);
	}
}
/*--头部--*/
#header {
    margin-top: 40px;
    margin-bottom: 60px;
}

#header .logo {
    border-radius: 50%;
    margin-right: 25px;
    width: 26px;
    height: 26px;
    float: left;
    background:url("../img/logo.jpg") ;
    background-size: cover;
}

#header .title{
    display: none;
}

#header .title a{
    color: #111;
    text-decoration: none;
    cursor: auto;
}

#header .nav{
    float: left;
}

#header .nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#header .nav ul li{
    height: 26px;
    display: inline-block;
    line-height: 26px;
}

#header .nav ul li span{
    padding: 0px 10px;
}

#header .nav ul li a{
    color: #111;
    word-wrap: break-word;
    text-decoration: underline;
    cursor: auto;
}

#header .nav  ul li a:hover{
    color: #555;
}

#header .menu-tool{
    display: none;
}

#header:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}


@media screen and (max-width: 540px){
    #header{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #header .title{
        float: left;
        display: block;
    }

    #header .menu-tool{
        display: inline-block;
        float: right;
        margin-top: 2px;
		font-size: 0;
    }

	#header .menu-tool em{
		margin-bottom: 3px;
		display: block;
		width: 20px;
		height: 2px;
		background: #ccc;
    }

    #header .nav{
        position: fixed;
        top:50px;
		/*移动端打开默认看不到*/
        right:-200px;
		z-index: 999;
		/*过渡效果*/
		transition: all 500ms ease 0ms;
    }

    #header .nav ul{
        background-color: white;
        min-width: 100px;
        box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
        list-style: none;
        font-size: 14px;
    }

    #header .nav ul li{
        height: 30px;
        display: block;
    }

    #header .nav ul li span{
        display: none;
    }

    #header .nav ul li a{
        display: block;
        text-align: center;
        white-space: nowrap;
        line-height: 30px;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    #header .nav ul li a:hover{
        color: #111;
        background-color: #EEE;
    }
}

/*--底部--*/
footer{
    margin-top: 50px;
    padding-bottom: 10px;
    color: #888;
    font-size: 13px;
}

footer a{
    color: #111;
    text-decoration: underline;
}
/*--回到顶部--*/
#totop{
	display: none;
	position: fixed;
	width: 38px;
	height: 38px;
	bottom: 45px;
	right: 25px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	background-color: #777;
}
#totop:hover{
	background-color: #444;
}