#mypost .postinfo{
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

#mypost .main{
	font-size: 13px;
}

#mypost .main p{
    margin: 13px 0;
}

#mypost .main img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

#mypost .main a{
    color: #111;
    cursor: auto;
    text-decoration: underline;
}

#mypost .main blockquote{
    margin: 13px 0;
    border-left: 3px solid #000;
    /*text-indent: 20px;*/
	padding-left: 13px;
}

#mypost .main blockquote p{
    font-weight: bold;
}
#mypost .main hr{
	margin: 13px 0;
    border: 1px solid #f5f5f5;
    padding: 0;
}

#mypost .main h1{
    font-size: 18px;
    border-bottom: 1px solid #AAA;
}
#mypost .main h2,#mypost .main h3,#mypost .main h4,#mypost .main h5,#mypost .main h6{
    font-size: 15px;
}

#mypost .main ul,#mypost .main ol {
    padding-left: 18px;
	margin-top: 13px;
    margin-bottom: 13px;
	margin-left: 0;
    -webkit-margin-before: 13px;
    -webkit-margin-after: 13px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 18px;
    
}
/*代码样式*/
#mypost .main code{
	font-size: 12px;
	font-family: Consolas,"Microsoft YaHei",微软雅黑;
	background-color: #f5f5f5;
    padding: .1em 1em;
    border-radius: 3px;
}

#mypost .main pre{
    word-wrap: normal;
	overflow: auto;
	border-radius: 3px;
	display: block;
    margin: 13px 0;
	padding: 1em;
	background-color: #f5f5f5;
}

#mypost .main pre code{
	display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
	overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
	word-break: normal;
    white-space: pre;
}

#mypost .main pre.highlight {
	width: 100%;
    overflow: auto;
    max-height: 700px;
}

/*表格样式*/
#mypost .main table{
	display: block;
	min-width: 100%;
	overflow: auto;
    margin: 13px 0;
    border-collapse:collapse;
    background-color: transparent;
    font-family: Verdana;
}

#mypost .main td,#mypost .main th {
    padding: 5px 10px;
    font-size: 13px;
    color: #333;
}

#mypost .main th{
    font-weight: bold;
}

#mypost .main table tr:nth-child(even) {
    background: #f9f9f9;
}

#mypost .main table thead th{
    border-bottom:2px solid #DDD;
}

#mypost .main table tbody td{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
