<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="zh-CN" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="{{ site.author }}{% for category in page.categories %},{{ category }}{% endfor %}"/>
		<meta name="author" content="{{ site.author }}" />
		<meta name="description" content="{{ page.title }}"/>
		<link rel="icon" href="{{site.context}}/static/img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="{{site.context}}/static/img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="{{site.context}}/static/css/blog.css">
		<link rel="stylesheet" href="{{site.context}}/static/css/blog-post.css">
		<script>window.blog={contextPath:""}</script>
		<script type="text/javascript" src="{{site.context}}/static/js/blog.js"></script>
		<title>{{ page.title }}-{{ site.title }}</title>
	</head>
<body>
{% include header.html %}
	<div class="main animation-fadeUp post">
		{% if page.title %}
		<h1 class="title">{{ page.title }}</h1>
		{% endif %}
		<div class="content">{{ content }}</div>
	</div>

	<!-- Gitalk start -->
	<div id="gitalk-container"></div>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
	<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
	<script src="//cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
	<script>
	    var gitalk  = new Gitalk ({
	        id: md5(window.location.pathname),   // Ensure uniqueness and length less than 50
	        clientID: 'cd9e988dce5113b6026b',
	        clientSecret: 'f90642dc6b14c8236e0058744a18759c739f0a6e',
	        repo: 'https://www.zhangchangbao.com',
	        owner: 'changboa66',
	        admin: 'changboa66',
			    distractionFreeMode: false  // Facebook-like distraction free mode
	    })
	    gitalk.render('gitalk-container')
	</script>
	<!-- Gitalk end -->

{% include footer.html %}
