.post {
    font-size: 14px;
    color: #313131;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    line-height: 1.8;
}

.post h3, .post h4, .post h5, .post h6 {
    font-size: 15px;
    margin: 18px 0;
}

.post h1 {
    font-weight: normal;
    font-size: 20px;
    margin: 18px 0;
}

.post h2 {
    font-weight: normal;
    font-size: 17px;
    position: relative;
    margin: 18px 0;
}

.post h2::before {
    content: '#';
    position: absolute;
    top: 0;
    left: -15px;
    font-weight: bold;
}

.post a {
    color: #313131;
    text-decoration: underline;
}

.post p {
    margin: 18px 0;
    word-break: break-all;
}

.post img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.post li {
    margin: 10px 0;
    padding: 0;
}

.post ol, .post ul {
    padding: 0;
    margin-left: 15px;
}

.post ol>li {
    list-style: decimal;
}

.post ul>li {
    list-style: disc;
}

.post code {
    font-size: 13px;
    font-family: Menlo, Mono, Monaco, Consolas, "Microsoft YaHei";
    border-radius: 3px;
    background: #f7f7f7;
    padding: 3px 2px;
    margin: 0 4px;
    position: relative;
    top: -1px;
}

.post pre {
    overflow: auto;
    margin: 13px 0;
    padding: 8px 14px;
    border-radius: 4px;
    background: #f7f7f7;
    text-shadow: none;
    max-height: 550px;
}

.post pre code {
    padding: 0;
    margin: 0;
    border: 0;
    top: 0;
    tab-size:4;
    -moz-tab-size:4;
    -o-tab-size:4;
}

.post hr {
    margin: 13px 0;
    border: 1px solid #f5f5f5;
    padding: 0;
}

.post blockquote {
    margin: 0;
    border-left: 3px solid #666;
    padding-left: 13px;
    color: #666;
}

.post table {
    display: block;
    min-width: 100%;
    overflow: auto;
    margin: 13px 0;
    border-collapse: collapse;
}

.post th {
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 2px solid #DDD;
}

.post td {
    border-bottom: 1px solid #ddd;
}

.post table tr:nth-child(even) {
    background: #fafafa;
}

@media screen and (max-width: 600px) {
    .post {
        font-size: 13px;
    }
    .post code {
        font-size: 12px;
    }
}