html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 15px;
    line-height: 1.8;
    color: #313131;
    background-color: #FFFFFF;
}

/* 
   -webkit-scrollbar隐藏滚动条
   手机：前置条件是高度固定，PC随意
   使用此属性，window上的scroll事件就无法监听到了
   通过监听body的滚动时可以，但是scrollTop始终是0
*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::selection {
    background-color: #444;
    color: #f9f9f9;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(36px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -350%, 0);
    }
}

/*文字冒泡*/

.bubble {
    z-index: 999;
    padding: 0 !important;
    color: #313131;
    font-size: 12px;
    position: absolute;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
}

.hide {
    display: none !important;
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animation-fadeUp {
    animation-timing-function: ease;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-name: fadeUp;
}

a {
    color: #313131;
    text-decoration: underline;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body>* {
    max-width: 580px;
    margin: 0 auto;
    padding: 0 23px;
}

.header {
    margin-top: 40px;
    margin-bottom: 50px;
}

.header .logo{
    text-decoration: none;
}

.header .title {
    display: none;
}

.header .logo>img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    vertical-align: bottom;
}

.header .menu {
    display: inline-block;
    vertical-align: middle;
}

.header .menu a {
    line-height: 35px;
    margin-left: 24px;
    position: relative;
}

.header .menu a:after {
    /* 中文特殊字符 */
    content: '·';
    padding-left: 12px;
    /* position: absolute;防止出现下划线 */
    position: absolute;
    font-weight: bold;
}

.header .menu a:last-child:after {
    display: none;
}

.list-group>span {
    color: #ccc;
    font-size: 16px;
}

.list-group>ul {
    padding-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-group li {
    list-style: disc;
    line-height: 35px;
}

.list-group .time {
    color: #666;
}

.list-group .categories a {
    text-decoration: none;
    color: #666;
    padding-left: 8px;
}

body>.footer {
    margin-top: 30px;
}

.footer .up {
    position: fixed;
    right: 20px;
    bottom: -40px;
    width: 30px;
    height: 30px;
    background: #E8E6E6;
    transition: all 500ms ease 0ms;
}

.footer .up.show {
    bottom: 20px;
}

.footer .up:after {
    position: absolute;
    top: 8px;
    left: 7px;
    content: '';
    border-right: 8px solid #E8E6E6;
    border-bottom: 13px solid #949393;
    border-left: 8px solid #E8E6E6;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 13px;
        padding-top: 55px;
    }
    body>* {
        width: auto;
    }
    .header {
        position: fixed;
        z-index: 999;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        height: 45px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    }
    .header .logo {
        display: none;
    }
    .header .menu {
        position: fixed;
        top: 53px;
        right: -200px;
        z-index: 99;
        background-color: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        overflow: hidden;
        min-width: 100px;
        height: auto;
        transition: all 500ms ease 0ms;
    }
    .header .menu.show {
        right: 20px;
    }
    .header .menu a {
        display: block;
        text-align: center;
        white-space: nowrap;
        line-height: 30px;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .header .menu a:hover {
        background-color: #EEE;
    }
    .header .menu a:after {
        display: none;
    }
    .header .title {
        display: inline-block;
        line-height: 45px;
        font-size: 15px;
        text-decoration: none;
    }
    .header .icon {
        width: 20px;
        height: 2px;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        background-color: #ccc;
        padding: 5px 0;
        background-clip: content-box;
        float: right;
        margin-top: 13px;
    }
    .list-group>ul {
        padding-left: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .list-group>span {
        font-size: 15px;
    }
    .list-group li {
        line-height: 30px;
    }
    .list-group .time.md, .list-group .categories.md {
        display: none;
    }
}